@import '../../../styles.scss';

.searchArea {
  position: relative;
  color: $soft-grey;

  input {
    background-color: $cloud;
    opacity: 0.7;
    border: none;
    font-size: 13px;
    padding: 16px;
  }

  input,
  select,
  textarea {
    color: $soft-grey;
  }

  .searchDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    border: 1px solid #D3D3D3;
    border-radius: 0 0 6px 6px; // rounded bottom corners
    border-top: 0;

    background-color: white;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 350px;

    section {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }

      .img-wrapper {
        height: 60px;
        text-align: center;
        margin: 5px 0;

        img {
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .searchArea {
    input {
      font-size: 15px;
      padding: 16px 34px;
    }
  }
}
