<div class="container-fluid social mt-5 py-5">
  <div class="row">
    <div class="offset-3 offset-sm-5 center">
      <div class="d-inline-flex">
        <p>Follow:</p>
        <div>
          <fa name="facebook-square" size="lg"></fa>
          <fa name="twitter-square" size="lg"></fa>
          <fa name="instagram" size="lg"></fa>
          <fa name="linkedin" size="lg"></fa>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid main-footer pt-4 pb-4">
<div class="row">
  <div class="col offset-sm-1 col-sm-6">
    <div class="sub-linker white-links pt-3" (click)="scrollToTop()" routerLink="lists/list-all-films">All Movies</div>
    <div class="sub-linker white-links"  (click)="scrollToTop()" routerLink="lists/list-all-directors">All Directors</div>
    <div class="sub-linker white-links"  (click)="scrollToTop()" routerLink="lists/list-all-actors">All Actors</div>
    <div class="sub-linker white-links" (click)="scrollToTop()" routerLink="lists/list-latest-reviews">Latest Reviews</div>
    <div class="sub-linker white-links" (click)="scrollToTop()" routerLink="lists/list-top-10">Top 10 Lists</div>
    </div>
    <div class="col text-right col-sm-4">
      <img class="logo" src="/assets/images/full-logo.png">
      <span>Contact: info@mdb.com</span>
      <span>Bleeker Street 23 12030 NYC</span>
    </div>
  </div>
  <div class="row">
  </div>
</div>
