<div class="bg-div hidden-sm-down"
[style.backgroundImage]="randomImage">
</div>

<div class="bg-div hidden-md-up" [style.backgroundImage]="randomImage"></div>

<div class="bg-person" ></div>
  <div class="container-fluid pt-sm-5">

    <div class="row front-area">
      <div class="offset-md-1 offset-lg-2 col-md-5 col-lg-4 hidden-sm-down">
      </div>
      <div class="offset-1 col-10 offset-md-1 col-md-4 col-lg-3 d-flex align-items-center">

        <div class="text-area p-4 hidden-md-up">
          <img class="img-fluid pb-3" src="/assets/images/full-logo.png">
          <p class="text-center text-sm-right desc-front-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero ipsum ex natus itaque adipisci esse quidem veritatis recusandae ea ut quos cumque, maxime in alias perspiciatis cupiditate repellendus suscipit ad quas. </p>
        </div>

        <div class="hidden-sm-down">
          <img class="img-fluid pb-4" src="/assets/images/full-logo.png">
          <p class="text-center text-sm-right desc-front-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero ipsum ex natus itaque adipisci esse quidem veritatis recusandae ea ut quos cumque, maxime in alias perspiciatis cupiditate repellendus suscipit ad quas. </p>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid activity py-5" [@fadeIn-1]>
    <div class="row">
      <div class="offset-md-1 offset-lg-2 col-md-10 d-inline-flex align-items-baseline pt-sm-3">
        <h6 class="headliner pr-5"><span class="underliner">Latest Additions</span></h6>
        <p class="sub-linker" routerLink="lists/list-all-films"><span>View All Movies</span> > </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
        <div class="row mt-3">
          <div *ngFor="let item of latestfilms" class="col-6 col-md-3">
            <figure class="figure">
              <img class="img-fluid film-img clickable" src="/assets/images/films/{{item.imagePath}}" routerLink="/film-page/{{item.id}}">
              <div class="fat-title">
                <span>{{item.title}}</span>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid my-5" [@fadeIn-1]>
    <div class="row">
      <div class="offset-md-1 offset-lg-2 col pt-5">
        <div class="row">

          <div class="col col-md-5 mb-4">
            <div class="d-inline-flex">
              <h6 class="headliner pr-5"><span class="underliner">Popular Movies</span></h6>
              <p class="sub-linker" routerLink="lists/list-top-10"><span>View all Top 10 Lists</span> > </p>
            </div>

            <table  class="top-table">
                <tbody *ngFor="let item of topfilms, let i = index" class="table my-4">
                  <tr>
                    <td>
                      <div class="circular-list-portrait">
                        <img class="clickable" src="/assets/images/films/{{item.imagePath}}" routerLink="/film-page/{{item.id}}"/>
                      </div>
                    </td>
                    <td class="list-inline-item popular-table align-middle">
                      <div class="clickable title-list-p" routerLink="/film-page/{{item.id}}"><strong>{{i + 1}}. </strong>{{item.title}}</div>
                      <div class="d-inline-flex align-items-center mini-p">
                        <span>Avg Rating:</span>
                      <app-star-rating [rating]="item.avgRating">
                      </app-star-rating>
                      <span class="pl-2">({{item.avgRating | number: '1.2-2'}})</span>
                      </div>
                      <div class="inline mini-p">
                        <span>Year: {{item.year}}</span>
                      </div>
                    </td>
                    <tr>
                </tbody>
              </table>
          </div>

          <div class="col col-md-5">
            <h6 class="headliner mb-3"><span class="underliner">Breaking news</span></h6>
            <div class="news-area p-4 mb-3" *ngFor="let n of news" [@fadeIn-2]>
                  <span class="date-format pr-3">{{n.date}}</span>
                  <div class="d-inline-block mr-2">
                    <span class="header">{{n.title}}</span>
                  </div>
                  <div class="n-text mt-3 d-inline-flex">
                      <img class="pr-3" src="{{n.img}}">
                    <span>{{n.body}}<a href="{{n.url}}">Read Full article</a></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>
  </div>

